<h1>EMPLOYEE LIST</h1>
<a href="{% url 'createEmployeeWithForm'%}">CREATE EMPLOYEE</a>
<a href ="{% url 'filterEmployee' %}">FILTER</a>  
<a href ="{% url 'sortemployees' 1 %}">Asc</a> 
<a href ="{% url 'sortemployees' 2 %}">Dsc</a> 


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Join Date</th>
            <th>Post</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for emp in employees  %}
        <tr>
            <td>{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.age}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.join_date}}</td>
            <td>{{emp.post}}</td>
            <td>
                  <a href = "{% url 'deleteEmployee' emp.id %}">DELETE</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>